html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: #383938;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}


/*header*/



#section1 {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
}

 .logo {
   display: flex;
   align-items: center;
   flex-grow: 1;
   margin-left: 24px;
}


#section1 img {
height: 32px;


}
.colmar {
  color:black;
  font-weight:bold;
}

.academy {
  color: #777977;
}

nav {
  margin-right: 24px;
}

nav span {
  padding-right: 16px;
}

.sign-in a {
  color: #777977;
  text-decoration: none;
  transition-property: color;
  transition-duration: none;
  transition-timing-function: linear;
  transition-delay: none;
}

.sign-in a:hover {
  color: black;
  text-decoration: underline;
}

.mobile-header {
  display:none;
}


@media only screen and (max-width: 480px) {

  .mobile-header {
    display: flex;
    justify-content: space-around;
    height: 64px;
   }
   #section1 {
     display:none;
   }

}
/*learn something new*/

#container1 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #dad8d8;
}

.left-panel1 {
  width: 60%;
  padding: 32px 24px;
}

.left-panel1 img {
  width: 100%;
}

.right-panel1 {
  width: 40%;
}

.right-panel1 button {
  border-radius: 0px;
  width: 85%;
  height: 34px;
  background-color: #404040;
  color: white;
  font-size: 1rem;
  transition-property: background;
  transition-duration: none;
  transition-timing-function: linear;
  transition-delay: none;
}

.right-panel1 button:hover {
  background: #9d9f9e;
  border: 1px solid white;
  }

@media only screen and (max-width: 480px) {

  #container1 {
    display:flex;
    flex-direction: column;
  }
   .left-panel1 , .right-panel1 {
     width: 100%;
   }

   .right-panel1 h1 , .right-panel1 h3{
    margin-left: 16px;
  }
    .right-panel1 button {
      background: #797c7a;
      margin-top:24px;
      margin-bottom: 32px;
      text-align: center;
      margin-right: 16px;
      margin-left: 16px;
      transition-property: background;
      transition-duration: none;
      transition-timing-function: linear;
      transition-delay: none;
    }
    .right-panel1 button:hover {
      background: #a2a4a3;
    }
}


/*keep practicing*/

#container2 {
  display: flex;
}

.right-panel2 {
    width: 40%;
    padding-top: 32px;
}

.left-panel2 {
  width: 60%;
  padding: 32px 24px;
}

.left-panel2 img {
 width: 100%;
 height: auto;
}

.left-panel2 p {
  color: #777977;
}


.left-panel2 .author {
  color: #424342;
}


.orientation , .campus , .lecture {
 display: flex;
 align-items: center;
}

.orientation img , .campus img , .lecture img {
 width: 35%;
 height: auto;
}

.campus img , .lecture img {
  padding: 16px;
}

.right-panel2 .lecture {
  background-color: #dad8d8;
}

.orientation img {
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.orientation-text p , .campus-text p , .lecture-text p {
  color: #777977;
}

.orientation-text a , .campus-text a , .lecture-text a {
  color: #0066CC;
  text-decoration: none;
  transition-property: all;
  transition-duration: none;
  transition-timing-function: linear;
  transition-delay: none;
}

.orientation-text a:hover , .campus-text a:hover , .lecture-text a:hover{
  color: #6d9dfe;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {

  .left-panel2 {
    display:none;
  }
  .right-panel2 {
    width: 100%;
  }
  .orientation , .campus , .lecture {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    text-align: left;
  }
  .orientation img , .campus img , .lecture img {
    width: 100%;
  }
  .right-panel2 .lecture {
    background-color: white;
  }

}


/*courses*/

#container3 {
  display: flex;
  flex-direction: column;
  background-color: #e9e7e7;
  max-width: 100%;
}

#container3 h1 {
  text-align: center;
  padding-top: 32px;
}

.courses {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 32px 72px;

}

.course  {
  background-color: white;
  width:32%;
  margin-bottom: 20px;
}

.text {
 padding: 16px 16px 24px 16px;
}


.course-image img {
  width: 100%;
  height:auto;
}

.courses p {
  color: #777977;
}

.mobile-learning {
  display:none;
}

@media only screen and (max-width: 480px) {

  .courses {
    display:none;
  }
  .mobile-learning{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container3 {
    background-color: white;
  }
  .mobile-course h3 {
    background-color:  #e9e7e7;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    transition-property: all;
    transition-duration: none;
    transition-timing-function: linear;
    transition-delay: none;
   }
   .mobile-course h3:hover {
    background-color:  #b9bbba; 
   }
}

/*thesis*/

#container4 {
  display: flex;
  flex-direction: column;
}

#container4 h1 {
  text-align: center;
  padding-top: 32px;
}

.exhibit {
  display: flex;
  flex-direction: row;
  margin-top:32px;
}

.left-panel3 {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.left-panel3 video {
  width: 100%;
}

.right-panel3 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.fisma {
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #dad8d8;
}

.new-york {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fisma img , .new-york img {
  width: 35%;
  padding: 16px;
}

.fisma-text , .new-york-text {
  width: 65%;
}

.left-panel3 p {
  color: #777977;
}

.fisma-text p {
 color: #777977;
}

.new-york-text p {
  color:  #777977;
}

@media only screen and (max-width: 480px) {

  .right-panel3 {
    display: none;
  }
  .left-panel3 {
    width: 100%;
  }
  .left-panel3 h3 , .left-panel3 p {
    display:none;
  }
}

/*footer*/

.copyright {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 24px;
 padding-top: 16px;
 border-top: 1px solid silver;
 color: #A0A0A0;
 font-size: 0.8rem;
}

@media only screen and (max-width: 480px) {

  .copyright span {
    display:none;
  }
}
