html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: #525257;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}


/*header*/


#section1 {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
}

 .logo {
   display: flex;
   align-items: center;
   flex-grow: 1;
   margin-left: 24px;
}


#section1 img {
height: 32px;


}
.colmar {
  color:black;
  font-weight:bold;
}

nav {
  margin-right: 24px;
}

nav span {
  padding-right: 16px;
}

.sign-in a {
  text-decoration: none;
  color: #525257;
  transition-property: color;
  transition-duration: none;
  transition-timing-function: linear;
  transition-delay: none;
}


.sign-in a:hover {
  color: black;
  text-decoration: underline;
}


.mobile-header {
  display:none;
}


@media only screen and (max-width: 480px) {

  .mobile-header {
    display: flex;
    justify-content: space-around;
    height: 64px;
   }
   #section1 {
     display:none;
   }
}


/*learn something new*/



#container1 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #D3D4D5;
}

.left-section1 {
  width: 60%;
  padding: 32px 24px;
}

.left-section1 img {
  width: 100%;
}

.right-section1 {
  width: 40%;
}

.right-section1 button {
  border-radius: 0px;
  width: 92%;
  height: 34px;
  background-color: #404040;
  color: white;
  font-size: 1rem;
  transition-property: background;
  transition-duration: none;
  transition-timing-function: linear;
  transition-delay: none;
}

.right-section1 button:hover {
  background: #747876;
  border: 3px solid white;
 }

@media only screen and (max-width: 480px) {

  #container1 {
    display:flex;
    flex-direction: column;
  }
   .left-section1 , .right-section1 {
     width: 100%;
     padding-top: 0;
   }

   .right-section1 h1 , .right-section1 h3{
    margin-left: 16px;
  }
    .right-section1 button {
      background: #797c7a;
      margin-top:24px;
      margin-bottom: 32px;
      text-align: center;
      margin-right: 16px;
      margin-left: 16px;
      transition-property: background;
      transition-duration: none;
      transition-timing-function: linear;
      transition-delay: none;
    }
    .right-section1 button:hover {
      background: #8C8F8E;
      border: 3px solid white;
    }
}


/*keep practicing*/



#container2 {
  display: flex;
}

.right-section2 {
    width: 40%;
    padding-top: 32px;
}

.left-section2 {
  width: 60%;
  padding: 32px 24px;
}

.left-section2 img {
 width: 100%;
 height: auto;
}


.left-section2 .author {
  color: black;
  font-size: 0.9rem;
}

.img-mobile {
  display:none;
}

.orientation , .campus , .lecture {
 display: flex;
 align-items: center;
}

.orientation .img-desktop , .campus .img-desktop , .lecture .img-desktop {
 width: 35%;
 height: auto;
}

.orientation .img-desktop {
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.campus .img-desktop, .lecture .img-desktop{
  padding: 16px;
}

.right-section2 .lecture {
  background-color: #D3D4D5;
}

.orientation-text a , .campus-text a , .lecture-text a {
  color: #0066CC;
  text-decoration: none;
  transition-property: all;
  transition-duration: none;
  transition-timing-function: linear;
  transition-delay: none;
}

.orientation-text a:hover , .campus-text a:hover , .lecture-text a:hover{
  color: #6d9dfe;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {

  .left-section2 {
    display:none;
  }
  .right-section2 {
    width: 100%;
  }
  .img-desktop {
    display:none;
  }
  .orientation , .campus , .lecture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .orientation .img-mobile,  .campus .img-mobile  , .lecture .img-mobile {
    display: flex;
    width: 92%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .orientation-text , .campus-text , .lecture-text {
    margin-left: 16px;
  }

    .right-section2 .lecture {
    background-color: white;
  }

}


/*courses*/



#container3 {
  display: flex;
  flex-direction: column;
  background-color: #EAEBEC;
  max-width: 100%;
}

#container3 h1 {
  text-align: center;
  padding-top: 32px;
}

.courses {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 32px 72px;

}

.course  {
  background-color: white;
  width:32%;
  margin-bottom: 20px;
}

.text {
 padding: 16px 16px 24px 16px;
}


.course-image img {
  width: 100%;
  height:auto;
}


.mobile-learning {
  display:none;
}

@media only screen and (max-width: 480px) {

  .courses {
    display:none;
  }
  .mobile-learning{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container3 {
    background-color: white;
  }
  .mobile-course h3 {
    background-color: #D3D4D5;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    transition-property: all;
    transition-duration: none;
    transition-timing-function: linear;
    transition-delay: none;
   }
   .mobile-course h3:hover {
    background-color:  #EAEBEC;
   }
}



/*thesis*/



#container4 {
  display: flex;
  flex-direction: column;
}

#container4 h1 {
  text-align: center;
  padding-top: 32px;
}

.exhibit {
  display: flex;
  flex-direction: row;
  margin-top:32px;
}

.left-section3 {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.left-section3 video {
  width: 100%;
}

.right-section3 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.fisma {
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #D3D4D5;
}

.new-york {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fisma img , .new-york img {
  width: 35%;
  padding: 16px;
}

.fisma-text , .new-york-text {
  width: 65%;
}


@media only screen and (max-width: 480px) {

  .right-section3 {
    display: none;
  }
  .left-section3 {
    width: 100%;
  }
  .left-section3 h3 , .left-section3 p {
    display:none;
  }
}


/*footer*/


.copyright {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 24px;
 padding-top: 16px;
 border-top: 1px solid silver;
 font-size: 0.9rem;
 transition-property: all;
 transition-duration: none;
 transition-timing-function: linear;
 transition-delay: none;
}

.copyright span:hover {
 color: black;
 text-decoration: underline;
}

@media only screen and (max-width: 480px) {

  .copyright span {
    display:none;
  }
}
